In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
activity = pd.read_csv('data/original/activity.csv')

In [3]:
activity

,Unnamed: 0,activity_id,user_id,post_id,course_id,activity_type,activity_status,activity_started,activity_completed,activity_updated
0,75,1111,2533,1696,1696,access,0,1680884201,NaN,1680884201
1,76,1112,2533,1696,1696,course,0,1680884205,0.000000e+00,1680885634
2,77,1113,2533,1699,1696,lesson,1,1680884205,1.680885e+09,1680885211
3,78,1114,2533,1769,1696,topic,1,1680884217,1.680884e+09,1680884288
4,79,1115,2533,1711,1696,topic,1,1680884289,1.680885e+09,1680885119
...,...,...,...,...,...,...,...,...,...,...
72892,627,627,2516,2000627,2115,exam,1,1735998125,1.735998e+09,1735998125
72893,628,628,1629,2000628,5009,exam,1,1724694276,1.724697e+09,1724696707
72894,629,629,2185,2000629,2115,exam,1,1730296951,1.730297e+09,1730296954
72895,630,630,2516,2000630,5009,exam,1,1735996130,1.735996e+09,1735996313
72896,631,631,1859,2000631,5009,exam,1,1736099550,1.736102e+09,1736101595

In [4]:
activity.activity_type.value_counts()

activity_type
topic             44714
lesson            15436
quiz               6799
exam               2619
course             2507
access              774
group_progress       48
Name: count, dtype: int64

In [ ]:
activity